/* Color Pallette
navy blue - rgba(61, 90, 128, 1);
sky blue - rgba(152, 193, 217, 1);
light blue - rgba(224, 251, 252, 1);
orange - rgba(238, 108, 77, 1);
darkgrey blue - rgba(41, 50, 65, 1);
*/

/* Global styles
-----------------------*/
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2{
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h2{
  font-size: 40px;
  margin-top: 0;
}
h1{
  font-size: 80px;
}
a{
  color: rgba(238, 108, 77, 1);
}
a:hover{
  text-decoration: none;
}
.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}
.col-narrow{
  width: 30%;
  float: left;
  min-height: 175px;
}
.col-wide{
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
}

/* Header and Footer
-----------------------*/
header, footer{
  background: rgba(61, 90, 128, 1);
  color: rgba(152, 193, 217, 1);
}
/* header */
header h1, header h2{
  color: rgba(224, 251, 252, 1);
  margin: 0;
}
.profile-img{
  border-radius: 50%;
}
header{
  text-align: center;
}

/* footer */
footer{
  text-align: center;
}
.contact-info a{
  padding: 20px;
  display: inline-block;
}

/* Work Experience
-----------------------*/
.work{
  background: rgba(224, 251, 252, 1);
}

/* Education
-----------------------*/
.education{
  background: rgba(152, 193, 217, 1);
}
